<p id="notice"><%= notice %></p>

<div id="accountsbook">
  <header-navbar></header-navbar>
  <div class="container">
    <router-view></router-view>
  </div>
</div>

<%= javascript_pack_tag 'accountsbook' %>